<a href="https://colab.research.google.com/github/najoy0223/DataScience/blob/main/3week_problems_answers_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[ 문제 1 ] ---------------------------------------------------------------------

숫자를 입력으로 받아 아래와 같이 동작하는 코드를 작성하시오.
- 짝수일 경우 각 자리수의 합을 출력
- 홀수일 경우 각 자리수의 곱을 출력
- 반복 입력을 받아야 함
- -1을 입력할 경우 "종료합니다."라는 메시지를 출력하고 프로그램 종료

**출력예시:**
```
숫자를 입력하세요: 1234
10
숫자를 입력하세요: 323
18
숫자를 입력하세요: 2532
12
숫자를 입력하세요: -1
종료합니다.
```

In [ ]:
while True:
    number=int(input("숫자를 입력하세요."))

    if number == -1:
        "종료합니다."
        break
    
    even = True
    if number%2:
        even = False

    sum = 1
    if even:
        sum = 0

    while number > 0:
        if even:
            sum += number%10
        else:
            sum *= number%10
        number //= 10
    print(sum)

숫자를 입력하세요.1234
10
숫자를 입력하세요.323
18
숫자를 입력하세요.2532
12
숫자를 입력하세요.1267398173
381024
숫자를 입력하세요.-1

[ 문제 2 ] ---------------------------------------------------------------------

아래 두 리스트 a, b로 부터 딕셔너리 c를 만드는 코드를 작성하시오.

입력:
*  a = ["d", "e", "a", "c", "b"]
*  b = [1, 4, 2, 5, 3]

출력:
*   c = {"e":1, "d":2, "c":3, "b":4, "a":5}

조건: 
*   인덱스에 값을 직접 대입하여 작성하면 안됨
*   예: c = {a[1]:b[0], a[0]:b[2], a[3]:b[4], a[4]:b[1], a[2]:b[3]}

팁: 정렬함수를 사용

In [ ]:
a = ["d", "e", "a", "c", "b"]
b = [1, 4, 2, 5, 3]

a.sort(reverse=True)
b.sort()

c = {}
for i in range(5):
    c[a[i]] = b[i]

print(c)

{'e': 1, 'd': 2, 'c': 3, 'b': 4, 'a': 5}

[ 문제 3 ] ---------------------------------------------------------------------

"mon", "tue", "wed", "thu", "fri", "sat", "sun"로 구성된 리스트 days를
map() 함수와 람다식만 사용하여 첫 글자만 대문자로 변환된 리스트를 생성하시오.


**출력예시:**


```
['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
```

(Hint: 람다식안에 슬라이싱과 병합을 활용할 수 있다.)

In [ ]:
days = ["mon", "tue", "wed", "thu", "fri", "sat", "sun"]

days = list(map(lambda s: s[0].upper() + s[1:], days))

print(days)

[ 문제 4 ] ---------------------------------------------------------------------

문자열을 입력으로 받아 공백을 기준으로 단어로 분리하고 각 단어의 개수를 딕셔너리 형태로 반환하는 함수를 작성하시오.


입력 예시:
*  "이정진의 데이터 사이언스 강의는 빅 데이터 시대에 데이터 사이언스 방법론을 활용해 데이터 분석하는 법을 배운다"

출력 예시:
* {'이정진의': 1, '데이터': 4, '사이언스': 2, '강의는': 1, '빅': 1, '시대에': 1, '방법론을': 1, '활용해': 1, '분석하는': 1, '법을': 1, '배운다': 1}

In [ ]:
def wordCounter(text):
    word_counter = {}
    word_list = text.split()
    for word in word_list:
        if word in word_counter:
            word_counter[word] += 1
        else:
            word_counter[word] = 1

    return word_counter

test_str = "이정진의 데이터 사이언스 강의는 빅 데이터 시대에 데이터 사이언스 방법론을 활용해 데이터 분석하는 법을 배운다"

result = wordCounter(test_str)
print(result)

{'이정진의': 1, '데이터': 4, '사이언스': 2, '강의는': 1, '빅': 1, '시대에': 1, '방법론을': 1, '활용해': 1, '분석하는': 1, '법을': 1, '배운다': 1}

[ 문제 5 ] ---------------------------------------------------------------------

숫자를 입력으로 받아 가장 큰 숫자를 가진 자릿수를 출력하시오.


입력 예시:
- 186532

출력 예시:
- 8

In [ ]:
number = int(input("숫자를 입력하시오."))

number_str = str(number)
number_str = sorted(number_str)
print(number_str[-1])

숫자를 입력하시오.186532
8